version: '3.8'
services:
  chat-gradio:
    build: .
    command: python chat_gradio.py
    ports:
      - "7860:7860"
    environment:
      - DATABASE_URL=sqlite:////app/data/data.db
      - GEMINI_KEY=${GEMINI_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./app:/app/app
      - ./data:/app/data
      - ./uploads:/app/uploads
    restart: unless-stopped

  chat-rag:
    build: .
    command: python chat_RAG.py
    ports:
      - "7861:7861"
    environment:
      - DATABASE_URL=sqlite:////app/data/data.db
      - GEMINI_KEY=${GEMINI_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./app:/app/app
      - ./data:/app/data
      - ./uploads:/app/uploads
      - ./app/documents:/app/app/documents
    restart: unless-stopped

volumes: {}

networks:
  default:
    driver: bridge